.modal-title {
  font-size: large;
}

#modal-overwork {
  width: 100%;
  margin-bottom: 20px;
}

#modal-overwork {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

.btn-overwork {
  width: 100%;
}