.table-base {
  text-align: center;
}

.table-base tr td:nth-child(1) {
  text-align: left;
}

.btn-editbase {
  width: 100px;
}

.label-base--new {
  margin-top: 5px;
}

.btn-base--new {
  margin-top: 10px;
}

.label-base--edit {
  margin-top: 5px;
}

.btn-base--edit {
  margin-top: 10px;
}