/* ユーザー情報テーブル */

.user-table {
  margin-top: 20px;
  text-align: center;
  vertical-align: middle;
}

.user-table tr td:nth-child(1) {
  width: 550px;
}

.user-table tr td:nth-child(2) {
  vertical-align: bottom;
}

.user-table tr td:nth-child(3) {
  vertical-align: bottom;
}

.user-table tr td:nth-child(4) {
  vertical-align: bottom;
}

/* ユーザー情報下ボタン */

.btn-users-show {
  margin-top: 20px;
}

/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

#table-attendances tr th:nth-child(1) {
  vertical-align: bottom;
}

#table-attendances tr th:nth-child(2) {
  vertical-align: bottom;
}

#table-attendances tr th:nth-child(3) {
  vertical-align: bottom;
}

#table-attendances tr th:nth-child(4) {
  vertical-align: bottom;
}

#table-attendances tr th:nth-child(5) {
  vertical-align: bottom;
}

#table-attendances tr th:nth-child(6) {
  vertical-align: bottom;
}

#table-attendances tr th:nth-child(7) {
  vertical-align: bottom;
}

#table-attendances tr th:nth-child(8) {
  vertical-align: bottom;
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }  
}

#search-form {
  float: right;
}

h5 {
  margin-bottom: 1px;
  font-weight: bold;
}

.all_users {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
}

.panel-title {
  color: white;
}

/* 出勤中社員一覧 */

.table-working {
  th {
    text-align: center;
  }
  td {
    text-align: center;
  }
}

/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 10px;
}

.btn-basic-info {
  margin-top: 15px;
}