<% provide(:title, 'All Bases') %>

<h1>拠点一覧</h1>

<div class="col-md-12">
  <table class="table table-bordered table-hover table-base">
    <tr>
      <td></td>
      <td></td>
      <td>拠点番号</td>
      <td>拠点名</td>
      <td>勤怠種類</td>
    </tr>
  </table>
</div>