<% provide(:title, 'All Bases') %>

<h1>拠点一覧</h1>

<div class="col-md-12">
  <table class="table table-bordered table-hover table-base">
    <tr>
      <td></td>
      <td></td>
      <td>拠点番号</td>
      <td>拠点名</td>
      <td>勤怠種類</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h8 class="panel-title">
          <a data-toggle="collapse" href="#collapse" class="btn btn-primary btn-lg">拠点情報追加</a>
        </h8>
      </div>
      <div id="collapse" class="panel-collapse collapse">
        <div class="panel-body">
        </div>
      </div>
    </div>
  </duv>
</div>